.wrap {
    position: fixed;
    top: 0;
    right: 0;
    padding: 3%;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 5%;
}

.contact a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
    width: 150px;
    height: 50px;
    background: linear-gradient(to top, #00154c, #12376e, #23487f);
    color: #fff;
    border-radius: 50px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
    font-size: 16px;
    transition: all .3s ease;
}

.contact a:nth-child(1){
    background: linear-gradient(to top, #004c0d, #126e27, #237f2b);
}

.contact a:hover {
    transform: scale(1.051);
}


