.wrap {
    position: relative;
    z-index: 13;
    color: black;
    padding: 4% 2%;
}

.courses {
    display: flex;
}

.course {
}



.course:nth-child(1),
.course:nth-child(2) {
    flex: 1;
}



.course:nth-child(1) h3 {
    color: #237f2b;
    border-right: none;
}

.desc {

}

.desc ul {
    background-color: #237f2b;
}


